@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="card text-dark bg-light">
        <h4 class="card-header fw-bolder">Weather</h4>
        <div class="card-body">
            <table class="table table-striped">
                <tr>
                    <td>
                        Test
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
